@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.sans{
  font-family: "Open-Sans", sans-serif;
}
.roboto{
  font-family: "Roboto";
}
form input::placeholder{
  opacity: 0;
}

@media screen and (max-width:1208px) {
  .header__search__input{
    min-width: 0;
  }
  .header__search__button{
    min-width: 0;
  }
  .filters{
    gap: 10px;
  }
}

@media screen and (max-width:900px){
  /* header start */
  .header__customers{
    position: absolute;
    right: 10vw;
    bottom: 125px;
  }
  .header__customers__text{
    display: inline;
    margin: 0 10px 0 0;
  }
  /* header end */

  .list

  /* modal start*/
  .modal__input-title{
    display: none;
  }
  form input::placeholder{
    opacity: 1;
  }
  /* modal end*/
}

@media screen and (max-width:720px){
  /* header start */
  .header__customers{
    position: absolute;
    right: 10vw;
    top: 3vh;
    height: 100px;
  }
  .header__customers__text{
    display: block;
  }
  /* header end */

  /* filters start */
  .filters__variants{
    gap: 10px;
  }
  /* filters end */

  /* list start */
  .list{
    max-height: 45vh;
    font-size: 20px;
  }
  /* list end */

  /* modal start*/
  .modal__buttons{
    width: 150px;
  }
  .modal__form-input{
    max-width: 200px;
    margin-bottom: 20px;
  }
  .modal__form-input > input{
    width: 200px;
  }
  /* modal end*/
}

@media screen and (max-width:505px) { 
  /* header start */
  .header__logo{
    width: 120px;
  }
  .header__search__button{
    padding: 0 5px 0 5px;
  }
  .header__search__input{
    max-width: 10rem;
    padding-right: 20px;
  }
  .header__search{
    gap: 10px;
    padding-top: 0px;
  }
  .header__customers__text{
    display: none !important;
  }
  .header__customers{
    position: static;
    order: 1;
  }
  /* header end */

  /* filters start */
  .filters{
    font-size: 20px;
    right: 48px;
    justify-content: center;
  }
  .filters__title{
    font-size: 25px;
  }
  .filters__variants{
    gap: 10px;
    justify-content: center;
  }
  /* filters end */
}

@media screen and (max-width: 400px) {
  /* header start */
  .header__search{
    font-size: 10px;
    gap: 5px;
  }
  .header__customers{
    font-size: initial;
  }
  /* header end */

  /* filters start */
  .filters{
    font-size: 15px;
    bottom: 3vh;
  }
  .filters__title{
    font-size: 15px;
  }
  .filters__variants-without{
    padding: 10px 8px 10px 8px;
  }
  /* filters end */  
  
  /* modal start*/
  .modal__wrapper{
    padding: 80px 10px 40px 10px;
    margin-top: 5vh;
    font-size: 20px;
  }
  .modal__wrapper > form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* modal end*/
}